.formItemContainer.dayTheme{
    &:hover{
        background: var(--dark-background);
        .formItem{
            color:var(--white);
        }
    }
}
.formItemContainer{
    display: flex;
    align-items: center;
    margin-top:20px;
    margin-right: 40px;
    border-radius: 10px;
    &:hover{
        background: cornflowerblue;
    }
    .formItem{
        display: flex;
        margin-left:10px;
        font-weight: bold;
        font-size: 1.25rem;
        font-family: sans-serif;
        width: 100%;
        // color:black;

        align-items: center;
        justify-content: space-between;
        margin-right:50px;
        img{
            height: 30px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}