// @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

header{
    background-color: #1B2342;
    padding: 15px 0;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    nav{
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;

        .logoImage{
            height: 30px;
            margin-right: 10px;
        }
        .logoText{
            text-transform: capitalize;
//   font-family: "Vollkorn-Regular";
//   font-family: "penna";
font-family: 'Mina', sans-serif;
//   font-family: "Barcelony";
//   font-family: "ginebra_font";





            // font-family: 'Sacramento', cursive;

            color: #dadada;
            font-weight: bold;
            font-size: 24px;
            flex: 1;
            // margin-left: 15px;
        }   
        .navButtonContainer{
            display: flex;
            align-items: center;
            user-select: none;
            .button{
                font-weight: 500;
                margin-left: 10px;
                color:var(--dark-background);
                font-size: 14px;

                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            .icon{

                height: 20px;
                // filter: brightness(1.3);
                &:hover{
            user-select: none;

                    cursor: none;
                }
            }
        }
    }
}
a:link{
    text-decoration: none!important;
}